.card {
    background-color: #fafafa;
    padding: 15px;
}

a {
    width: 140px;
    margin-right: 10px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-areas:
        'card1 card2 card2'
        'card3 card2 card2'
        'card4 card4 card4';
}

.card1 {
    background-color: #fafafa;
    padding: 15px;
    grid-area: card1;
}
.card2 {
    background-color: #fafafa;
    padding: 15px;
    grid-area: card2;

}
.card3 {
    background-color: #fafafa;
    padding: 15px;
    grid-area: card3;

}
.card4 {
    background-color: #fafafa;
    padding: 15px;
    grid-area: card4;

}
